
export(Approximator)
export(Plot.Another.TreeSI)
export(PlotTreeSI)
export(allmodel.signal.noise)
export(cluster.signal.noise)
export(defined.multi.profile)
export(informativeness.profile)
export(multi.profile)
export(parallel.cluster.signal.noise)
export(plotPosterior)
export(space.maker)
export(space.maker.narrow)
export(su.bayes)
import("stats")
import("graphics")
import("parallel")
import("ape")
import("ggplot2")
import("iterators")
import("splines")
import("PBSmodelling")
import("hexbin")
import("geiger")
import("gridExtra")
import("RColorBrewer")
import("foreach")
import("doParallel")
importFrom("grDevices", "dev.off", "pdf")
importFrom("utils", "combn", "write.table")
